<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="components/style/About.css">
</head>

<body>

  <div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">ABOUT US</h3>
    <p class="w3-center"><em>We Love Programming</em></p>
    <p>Over the past decade, new types of databases called NoSQL (Not Only SQL) have been developed. This concept
      contains several types: graphic, value-based, document-based, etc.
      Each of these types has different features so that each type can suit different requirements and systems. The
      multiplicity of types and databases increases and emphasizes the importance of choosing the type of database that
      will be tailored specifically to the system requirements.
      Currently, there are no recommended methods that weigh the specific requirements and features of an application
      and match the appropriate database type. This is even though the database is a key part of the system and its
      maintenance is not cheap - that is, any mistake can seriously harm the user, so any mistake in selecting a
      database, especially in advanced stages of development, can damage the development process. When it comes to small
      companies and startups that have relatively limited resources, a mistake in choosing a database can cost them time
      and money (choosing the wrong database costs money if you've already paid for licenses, new licenses, slow
      retrieval, etc.).
      To address this need, we have developed a system designed to help it take into account the needs of the developed
      system (through functional and non-functional requirements) and adapt them to the appropriate database. This gives
      the system the ability to save time, money, and mistakes later in the development, through a recommendation based
      on data that fits the system characteristics.
      In this project, we developed a first-of-its-kind system that provides the ability for clients to enter UML chart
      information requirements and functional and non-functional requirements, and the system provides a recommendation
      for distributing information to different clusters, with each cluster providing a recommendation for the type of
      database that best suits it, based on its features.
    </p>
  </div>
</body>